<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tmon.social.api.dao.mapper.NewsMapper">
	<select id="getNewsList" parameterType="string" resultType="news">
		SELECT
			GROUP_CONCAT(corp_name) AS socialName,
			link AS link,
			title AS title,
			preview AS preview,
			image AS image,
			date AS date,
			provider AS provider
		FROM
			news,
			corporation,
			news_corp_relation
		WHERE
			news.news_id = news_corp_relation.news_id
			AND
			news_corp_relation.corp_id = corporation.corp_id
			AND
			DATE(news.date) = #{date}
		GROUP BY
			link
		ORDER BY
			date
		DESC
	</select>
</mapper>